.middleSection {
  height: 100vh;
  background: #003844;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#divBars {
  display: flex;
  justify-content: center;
}

.divBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 200px;
}

.divBar2 {
  margin-top: 30px;
}

.logoBar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.showLogo {
  width: 30px;
  height: 30px;
  margin-top: 13px;
  margin-right: 10px;
  visibility: hidden;
  opacity: 0;

  &.visible {
    visibility: visible;
    transition: 2s;
    opacity: 1;
  }
  
}
// === progress bar ===
$primary-color: #4caf50;

.progress-bar {
  width: 50%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 50px;
  margin: 20px 0;

  
}

@keyframes slideInFromRight {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0%);
  }
}

.progress-bar__filler {
  height: 100%;
  background-color: $primary-color;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.progress-bar__label {
  color: $primary-color;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

