$test: #c6e0e4;

header {
  background-color: #064b83;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: $test;

  position: fixed;
  position: inherit;
  height: 50px;
}

#headerList {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.itemHeaderList {
  list-style-type: decimal-leading-zero;
  &:hover {
    text-decoration: underline;
  }
}